@{
    ViewBag.Title = "Customer";
    Layout = "~/Views/Shared/_MainLayout.cshtml";
}

<div id="grid">
</div>

@*MÜŞTERİ EKLEME MODAL*@
<div class="col-xs-14 modal fade" id="mdl-me" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" data-backdrop="false">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title" style="text-align:center">Müşteri Ekle</h4>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-xs-3 ">Müşteri Adı</div>
                    <div class="col-xs-8 " id="m-t-1"></div>
                </div>
                <div class="row">
                    <div class="col-xs-3 ">Fatura Ünvanı</div>
                    <div class="col-xs-8 " id="m-t-11"></div>
                </div>
                <div class="row">
                    <div class="col-xs-3 ">Hizmet Türü</div>
                    <div class="col-xs-8 " id="m-t-12"></div>
                </div>
                <div class="row">
                    <div class="col-xs-3 ">Sektör</div>
                    <div class="col-xs-8 " id="m-t-2"></div>
                </div>
                <div class="row">
                    <div class="col-xs-3 ">Firma Tipi</div>
                    <div class="col-xs-8 " id="m-t-3"></div>
                </div>
                <div class="row">
                    <div class="col-xs-3 ">İl</div>
                    <div class="col-xs-8 " id="m-t-5"></div>
                </div>
                <div class="row">
                    <div class="col-xs-3 ">İlçe</div>
                    <div class="col-xs-8 " id="m-t-6"></div>
                </div>
                <div class="row">
                    <div class="col-xs-3 ">Açık Adres</div>
                    <div class="col-xs-8 " id="m-t-7"></div>
                </div>
                <div class="row">
                    <div class="col-xs-3 ">Email</div>
                    <div class="col-xs-8 " id="m-t-8"></div>
                </div>
                <div class="row">
                    <div class="col-xs-3 ">Telefon No</div>
                    <div class="col-xs-8 " id="m-t-9"></div>
                </div>
                <div class="row">
                    <div class="col-xs-3 ">Firma Türü</div>
                    <div class="col-xs-8 " id="m-t-4"></div>
                </div>
                <div class="row">
                    <div class="col-xs-3 ">Durum</div>
                    <div class="col-xs-8 " id="m-t-10"></div>
                </div>
                <div class="modal-footer">
                    <button class="btn btn-danger" data-dismiss="modal" id="m-iptal">İptal</button>
                    <button class=" btn btn-primary" id="m-kaydet">Kaydet</button>
                    @*<button class="col-xs-3 btn btn-danger" id="m-iptal">İptal</button>*@
                </div>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->
</div>
@*BİTİŞ*@



<link href="~/Style/Customers.css" rel="stylesheet" />
<script src="~/JS/PageScripts/customers.js"></script>
