
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_MainLayout.cshtml";
}

<link href="~/Style/Customer.css" rel="stylesheet" />
<div class="col-xs-1">

</div>
<div class="col-xs-4" id="list" style=" border-style: groove; top: 92px; position: absolute">
    <div id="notificationList">
    </div>
</div>
<script src="~/JS/PageScripts/Index.js"></script>
