
@{
    ViewBag.Title = "ServiceSettings";
    Layout = "~/Views/Shared/_MainLayout.cshtml";
}

<div class="content-inner">
    <div class="row">
        <div class="col-xs-2">Hizmet Grupları</div>
        <div class="col-xs-4 bosluk" id="h-g-1"></div>
        <button class="btn btn-primary col-xs-1 bosluk" id="hizmetgrupsil">SİL</button>
        <button class="btn btn-danger col-xs-1 bosluk" id="hizmetgrupguncelle">GÜNCELLE</button>
    </div>
    <div class="row" id="hizmetgrupguncellediv" style="display:none">
        <div class="col-xs-2">Hizmet Grubu Güncelle</div>
        <div class="col-xs-4 bosluk" id="h-g-2"></div>
        <button class="btn btn-warning col-xs-1 bosluk" id="hizmetgrupkaydet">KAYDET</button>
    </div>
    <div class="row">
        <div class="col-xs-2">Yeni Hizmet Grubu</div>
        <div class="col-xs-4 bosluk" id="h-g-3"></div>
        <button class="btn btn-primary col-xs-1 bosluk" id="hizmetgrupekle">YENİ EKLE</button>
    </div>
    <div class="row">
        <hr />
    </div>
</div>
<link href="~/Style/CustomerSettings.css" rel="stylesheet" />
<script src="~/JS/PageScripts/servicesettings.js"></script>
