<div class="kutu">
    <div class="ickutu">
        <span class="t-icon fa fa-cubes"></span>
        <span class="t-caption">Dosyalar</span>
    </div>
</div>
<div class="kutu">
    <div class="ickutu">
        <span class="t-icon fa fa-sticky-note"></span>
        <span class="t-caption">Notlar</span>
    </div>
</div>
<div class="kutu">
    <div class="ickutu">
        <span class="t-icon fa fa-calendar-times-o"></span>
        <span class="t-caption">Takvim</span>
    </div>
</div>